//:root {
//  --eu-cmdk-bg: var(--eu-color-bg-primary);
//}

div [command-dialog-mask] {
  backdrop-filter: blur(3px);
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 200;
  animation: 333ms cubic-bezier(0.16, 1, 0.3, 1) 0s 1 normal none running shown;
}

div [command-dialog-wrapper] {
  position: relative;
  background: var(--eu-color-bg-primary);
  border-radius: 6px;
  // 四周阴影
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  flex-direction: column;
  margin: 64px auto;
  padding: 12px;
  gap: 16px;
  width: min(100vw - 60px, 900px);
  max-width: 700px;
  height: min-content;
  max-height: min(100vh - 128px, 900px);
  animation: 333ms cubic-bezier(0.16, 1, 0.3, 1) 0s 1 normal none running shown;
}

div [command-dialog-footer] {
  border-top: 1px solid var(--eu-color-border-primary);
  align-items: center;
  color: var(--eu-color-text-secondary);
  border-radius: 0 0 8px 8px;
  box-shadow: none;
  display: flex;
  flex-direction: row-reverse;
  flex-shrink: 0;
  justify-content: space-between;
  padding: 16px 12px 8px;
  position: relative;
  user-select: none;
  width: 100%;
  z-index: 300;
  font-size: 12px;
}
