@charset "UTF-8";

:root.dark {
  // 页面背景色
  --theme-base-bg: #141518;
  // 页面二级背景色
  --theme-base-second-bg: #1D1F24;

  // 主要文字颜色
  --theme-text-primary-color: #c6c9cf;
  // 次要文字颜色
  --theme-text-second-color: #737373;

  // 菜单栏的背景色
  --theme-nav-first-bg: #1e222d;
  // 菜单栏的文字颜色
  --theme-nav-first-color: hsla(0,0%,100%,.7);
  // 菜单栏选中的背景色
  --theme-nav-first-active-bg: #155bd4;
  // 菜单栏选中的文字颜色
  --theme-nav-first-active-color: #FFF;
  // 菜单栏悬浮的背景色
  --theme-nav-first-hover-bg: #155bd4;
  // 菜单栏悬浮的文字颜色
  --theme-nav-first-hover-color: #FFF;

  // 二级菜单栏的背景色
  --theme-nav-second-bg: #1D1F24;
  // 二级菜单栏的文字颜色
  --theme-nav-second-color: #97A6B9;
  // 二级菜单栏选中的背景色
  --theme-nav-second-active-bg: #43536A;
  // 二级菜单栏选中的文字颜色
  --theme-nav-second-active-color: #FFF;
  // 二级菜单栏悬浮的背景色
  --theme-nav-second-hover-bg: #43536A;
  // 二级菜单栏悬浮的文字颜色
  --theme-nav-second-hover-color: #FFF;

  // Popover二级菜单栏的背景色
  --theme-nav-pop-bg: #5f5f66;
  // Popover二级菜单栏的文字颜色
  --theme-nav-pop-color: #FFF;
  // Popover二级菜单栏选中的背景色
  --theme-nav-pop-active-bg: hsla(0,0%,100%,.2);
  // Popover二级菜单栏选中的文字颜色
  --theme-nav-pop-active-color: #FFF;
  // Popover二级菜单栏悬浮的背景色
  --theme-nav-pop-hover-bg: hsla(0,0%,100%,.2);
  // Popover二级菜单栏悬浮的文字颜色
  --theme-nav-pop-hover-color: #FFF;

  // 菜单栏总宽度
  --sidebar-width: 264px;
  // 菜单栏第一级宽度
  --sidebar-first-width: 124px;
  // 菜单栏第二级宽度
  --sidebar-second-width: 140px;
  // 主题色
  --color-primary: #155bd4;
}
