@use "colors" as *;

$--colors: (
  "primary": (
    "base": $color-primary
  ),
  "success": (
    "base": $color-success
  ),
  "warning": (
    "base": $color-warning
  ),
  "danger": (
    "base": $color-danger
  ),
  "error": (
    "base": $color-danger
  ),
  "info": (
    "base": $color-info
  )
);

@use "element-plus/theme-chalk/src/common/var.scss" with (
  $colors: $--colors
);

@forward "element-plus/theme-chalk/src/dark/var.scss" with (
  $colors: $--colors
);

@forward "element-plus/theme-chalk/src/dark/css-vars.scss";

@use "element-plus/theme-chalk/src/index.scss" as *;
