// el-dialog
.el-dialog__header {
  border-bottom: 1px solid var(--color-border);
  margin-right: 0;
  margin-bottom: 12px;
}

.eu-submit-btn {
  width: 150px;
}

.dialog-footer-flex {
  .el-dialog__footer {
    display: flex;
    justify-content: space-between;
  }
}

// el-pagination
//.el-pagination {
//  --el-pagination-button-width: 26px;
//  --el-pagination-button-height: 26px;
//  --el-component-size: 26px;
//  --el-pagination-font-size: 13px;
//  --el-font-size-base: 13px;
//}
.el-pagination {
  justify-content: right;
}
* ~ .el-pagination {
  margin-top: 12px;
}

.el-button.is-text + .el-button.is-text {
  margin-left: 0;
}

.el-loading-spinner .path {
  stroke: var(--color-white) !important;
}
.el-loading-spinner .el-loading-text {
  color: var(--color-white) !important;
  font-size: 18px;
  font-weight: 500;
}

.eu-drawer {
  .el-drawer__header {
    position: relative;
    font-size: 16px;
    margin-bottom: 16px;
    &:after {
      content: '';
      position: absolute;
      bottom: -16px;
      left: 0;
      right: 0;
      height: 1px;
      background-color: var(--color-border);
    }
  }
  .el-drawer__body {
    padding: 0;
  }
  .drawer-body {
    height: 100%;
    .drawer-body__footer {
      width: 100%;
      // 上阴影
      box-shadow: 0 0 10px 0 var(--color-border-3);
      z-index: 1;
    }
  }
}
