// el-dialog
.el-dialog__header {
  border-bottom: 1px solid var(--eu-color-border-primary);
  margin-right: 0;
  margin-bottom: 12px;
}

.eu-submit-btn {
  width: 150px;
}

.dialog-footer-flex {
  .el-dialog__footer {
    display: flex;
    justify-content: space-between;
  }
}

.el-pagination {
  justify-content: right;
}
* ~ .el-pagination {
  margin-top: 12px;
}

.el-button.is-text + .el-button.is-text {
  margin-left: 0;
}

.el-loading-spinner .el-loading-text {
  font-size: 18px;
  font-weight: 500;
}

.el-drawer {
  .el-drawer__header {
    position: relative;
    font-size: 16px;
    margin-bottom: 16px;
    &:before {
      content: "";
      position: absolute;
      bottom: -16px;
      left: 0;
      right: 0;
      height: 1px;
      background-color: var(--color-border);
    }
  }
  // .el-drawer__body {
  //   padding: 0;
  // }
  .drawer-body {
    height: 100%;
    display: flex;
    flex-direction: column;
    .drawer-body__footer {
      width: 100%;
      // 上阴影
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.08);
      border-top: 1px solid var(--color-border);
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 12px;
    }
  }
}
