.eu-ui {
  background: var(--eu-color-bg-secondary);
  color: var(--eu-color-text-primary);
}

#app {
  height: 100%;
}

.page-body {
  //margin: 0 16px;
  padding: 16px;
  background: var(--eu-color-bg-primary);
  box-sizing: border-box;
}

.query-wrapper {
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .el-form-item {
    margin-bottom: 0;
  }
}

.eu-dot {
  position: relative;
  display: inline-block;
  width: 6px;
  height: 6px;
  margin-right: 3px;
  vertical-align: middle;
  border-radius: 50%;
  &.eu-dot-error {
    background: #ff4d4f;
    span {
      background: #ff4d4f;
    }
  }
  span {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    animation: euDot 1.2s ease-in-out infinite;
  }
}

@keyframes euDot {
  0% {
    opacity: 0.6;
    transform: scale(0.8);
  }

  to {
    opacity: 0;
    transform: scale(2.4);
  }
}

.page-container {
  padding: 12px;
}
// 如果route.meta.showHeader=true, 则不需要设置padding-top
#app-container__header ~ #app-container__body {
  .page-container {
    padding-top: 0;
  }
}

.text-primary {
  color: var(--eu-color-primary);
}
.text-success {
  color: var(--eu-color-success);
}
.text-overflow {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.cursor {
  cursor: pointer;
}
// 进度条
#nprogress .bar {
  background: var(--eu-color-primary) !important; // 自定义颜色
}
