@charset "UTF-8";

:root {
  // 页面背景色
  --theme-base-bg: #F2F3F5;
  // 页面二级背景色
  --theme-base-second-bg: #FFF;

  // 主要文字颜色
  --theme-text-primary-color: #303133;
  // 次要文字颜色
  --theme-text-second-color: #606266;

  // 菜单栏的背景色
  //--theme-nav-first-bg: #1e222d;
  --theme-nav-first-bg: #FFF;
  // 菜单栏的文字颜色
  //--theme-nav-first-color: hsla(0,0%,100%,.7);
  --theme-nav-first-color: #333;
  // 菜单栏选中的背景色
  --theme-nav-first-active-bg: #155bd4;
  // 菜单栏选中的文字颜色
  --theme-nav-first-active-color: #FFF;
  // 菜单栏悬浮的背景色
  --theme-nav-first-hover-bg: #155bd4;
  // 菜单栏悬浮的文字颜色
  --theme-nav-first-hover-color: #FFF;

  // 二级菜单栏的背景色
  --theme-nav-second-bg: #FFF;
  // 二级菜单栏的文字颜色
  --theme-nav-second-color: #333;
  // 二级菜单栏选中的背景色
  --theme-nav-second-active-bg: rgba(21,91,212,.08);
  // 二级菜单栏选中的文字颜色
  --theme-nav-second-active-color: #155bd4;
  // 二级菜单栏悬浮的背景色
  --theme-nav-second-hover-bg: #f7f7f7;
  // 二级菜单栏悬浮的文字颜色
  --theme-nav-second-hover-color: #155bd4;

  // Popover二级菜单栏的背景色
  --theme-nav-pop-bg: #5f5f66;
  // Popover二级菜单栏的文字颜色
  --theme-nav-pop-color: #FFF;
  // Popover二级菜单栏选中的背景色
  --theme-nav-pop-active-bg: hsla(0,0%,100%,.2);
  // Popover二级菜单栏选中的文字颜色
  --theme-nav-pop-active-color: #FFF;
  // Popover二级菜单栏悬浮的背景色
  --theme-nav-pop-hover-bg: hsla(0,0%,100%,.2);
  // Popover二级菜单栏悬浮的文字颜色
  --theme-nav-pop-hover-color: #FFF;

  // 菜单栏总宽度
  --sidebar-width: 264px;
  // 菜单栏第一级宽度
  --sidebar-first-width: 124px;
  // 菜单栏第二级宽度
  --sidebar-second-width: 140px;
  // 菜单栏折叠后的宽度
  --sidebar-collapse-width: 64px;
  // 主题色
  --color-primary: #155bd4;
}
