@mixin scrollBar {
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background: #6B6B6BAA;
    border-radius: 20px;
    &:hover {
      background: #6B6B6B;
    }
  }
}

@mixin scrollBarX {
  &::-webkit-scrollbar {
    height: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background: #6B6B6B;
    border-radius: 20px;
  }
}
