@charset "UTF-8";

// 变量
:root {
  --eu-layout-navbar-height: 50px;
  --eu-layout-sidebar-collapse-width: 64px;
  --eu-layout-sidebar-column-width: 264px;
  --eu-layout-sidebar-column-first-width: 124px;
  --eu-layout-sidebar-column-second-width: 140px;
  --eu-layout-sidebar-vertical-width: 180px;
}

// 主题色配置
:root {
  --eu-layout-navbar-bg: var(--eu-color-bg-primary);
  --eu-layout-sidebar-bg: var(--eu-color-bg-primary);
  --eu-layout-sidebar-text-color: var(--eu-color-text-secondary);

  --eu-layout-sidebar-active-bg: #f2f3f5;
  --eu-layout-sidebar-active-text-color: var(--eu-color-primary);
  --eu-layout-sidebar-hover-bg: #f2f3f5;
  --eu-layout-sidebar-hover-text-color: var(--eu-color-primary);

  --eu-layout-sidebar-secondary-active-bg: #f2f3f5;
  --eu-layout-sidebar-secondary-active-text-color: var(--eu-color-primary);
  --eu-layout-sidebar-secondary-hover-bg: #f2f3f5;
  --eu-layout-sidebar-secondary-hover-text-color: var(--eu-color-text-primary);

  --color-border: var(--eu-color-border-primary);
}

:root.dark {
  --eu-layout-sidebar-active-bg: #4c4d4f39;
  --eu-layout-sidebar-hover-bg: #4c4d4f39;
  --eu-layout-sidebar-secondary-active-bg: #4c4d4f39;
  --eu-layout-sidebar-secondary-hover-bg: #4c4d4f39;
}
